@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

:root {
 --dark-color: #000000;
 --dark-100-color: #1a1a1a;
 --dark-200-color: #333333;
 --dark-300-color: #4d4d4d;
 --dark-400-color: #666666;
 --dark-500-color: #808080;

 --light-color: #ffffff;
 --light-100-color: #f9f9f9;
 --light-200-color: #f2f2f2;
 --light-300-color: #ebebeb;
 --light-400-color: #e0e0e0;
 --light-500-color: #d6d6d6;

 --transition-fast: 0.25s all ease-in-out;
 --transition-medium: 0.4s all ease-in-out;
 --transition-slow: 0.5s all ease-in-out;
}

/* Utilities */
a {
 color: var(--dark-color);
 text-decoration: none;
}

a:visited {
 color: var(--dark-color);
}

button {
 background: var(--light-color);
 border: 1px solid var(--light-500-color);
 padding: 0.5rem;
 border-radius: 10px;
 cursor: pointer;
}

input {
 background: transparent;
 color: var(--light-color);
}

input::placeholder {
 color: var(--light-100-color);
 font-family: "Roboto", sans-serif;
 transition: var(--transition-slow);
}

body {
 font-family: "Manrope", "Roboto", sans-serif;
 line-height: 1.6;
 overflow-x: hidden;
}

#root {
 position: relative;
 display: grid;
 grid-template-columns: repeat(2, auto);
 align-items: center;
 justify-content: center;
}

#root > * {
 overflow-x: hidden;
}
